<h1 class="text-primary">Angular Bases</h1>
<h6>This project show basic function of Angular Framework and TypeScrip</h6>
<span>For know which technologies are used in this project please read <i class="fab fa-markdown"></i><a href="../assets/Technology.md"> this markdown file</a></span>
<hr>
<h2 class="text-secondary">Exercise 1</h2>
<app-accumulator>
</app-accumulator>
<hr>
<h2 class="text-secondary">Exercise 2</h2>
<app-hero></app-hero>
<hr class="mb-2">
<div class="bg-info">
    <h1 class="text-white">Gratitude <i class="fas fa-praying-hands"></i></h1>
    <p class="text-light">This project is base in the course exercises of www.fernando-herrera.com</p>
</div>