<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">Explain</button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
                <p>{{ message }}</p>
                <div class="text-start">
                    <a [href]="moreInfo" target="_blank">More info...</a>
                </div>
                <pre>
                        <code innerHTML="exerciseCode1"></code>
                    </pre>
            </div>
        </div>
    </div>
</div>